@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&display=swap');
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background-color: #1F2933;
}
#content {
    background-color: white;
}
.content-width 
{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 150px auto;
    align-items: center;
}
.logo-link-header {
    padding-top: 5px;
    justify-self: start;
    align-self: center;
}
.logo {
    width: 100px;
}
nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #1F2933;
}
.navbar ul {
    list-style-type: none;
    display: flex;
    gap: 60px;
    padding: 0;
    margin: 0;
}
.navbar a {
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
    font-family: Nunito, Arial, sans-serif;
    color: black;
    padding: 40px;
    font-size: 1em;
    letter-spacing: 3px;
    font-weight: 300;
}
.navbar a:hover {
    color: #D9C7A3;
}
.hero-box {
    max-width: 1200px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: center;
    
}
#hero-img {
    width: 100%;
    display: block;
    max-height: 600px;
}
#hero-intro p {
    font-family: Nunito, Arial, sans-serif;
    font-size: 1.5em;
    padding: 10px;
    color: #D9C7A3;
}
.gallery-title {
    text-align: center;
    font-family: Oswald, Arial, sans-serif;
    font-size: 3rem;
    margin-top: 80px;
    margin-bottom: 5px;
    color: #D9C7A3;
}
#gallery-grid {
    max-width: 900px;
    margin: 80px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 20px;
}
.gallery-img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    
}
footer {
    margin-top: 80px;
    background-color: white;
}
#logo-link-footer {
    padding-top: 5px;
    justify-self: start;
    align-self: center;
}
#footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-socials ul {
    list-style-type: none;
}
.footer-socials a {
    font-family: Nunito, Arial, sans-serif;
    text-decoration: none;
    transition: 0.3s;
    color: #1F2933;
    padding: 40px;
    font-size: 1.2em;
}
.footer-socials a:hover {
    color: #D9C7A3;
}
