@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&display=swap');
* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    background-color: #1F2933;
}
#content {
    background-color: white;
}
.content-width 
{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 150px auto;
    align-items: center;
}
.logo-link-header {
    padding-top: 5px;
    justify-self: start;
    align-self: center;
}
.logo {
    width: 100px;
}
nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #1F2933;
}
.navbar ul {
    list-style-type: none;
    display: flex;
    gap: 60px;
    padding: 0;
    margin: 0;
}
.navbar a {
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
    font-family: Nunito, Arial, sans-serif;
    color: black;
    padding: 40px;
    font-size: 1em;
    letter-spacing: 3px;
    font-weight: 300;
}
.navbar a:hover {
    color: #D9C7A3;
}
.hero-box {
    max-width: 1200px;
    margin: 80px auto;
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 80px;
    align-items: center;
    
}
#hero-img {
    width: 100%;
    display: block;
    height: 800px;
    object-fit: cover;
}
#hero-intro p {
    font-family: Nunito, Arial, sans-serif;
    font-size: 1.5em;
    padding: 10px;
    color: #D9C7A3;
}
#gallery a {
    text-decoration: none;
    display: inline-block;
}
.gallery-title {
    text-align: center;
    font-family: Oswald, Arial, sans-serif;
    font-size: 4rem;
    letter-spacing: 15px;
    margin-top: 100px;
    margin-bottom: 10px;
    color: #D9C7A3;
}
#gallery {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding: 20px;
}
.gallery-img {
    width: 450px;
    height: 350px;
    object-fit: cover;
    flex: 0 0 auto;
    scroll-snap-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.gallery-img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
footer {
    margin-top: 80px;
    background-color: white;
}
#logo-link-footer {
    padding-top: 5px;
    justify-self: start;
    align-self: center;
}
#footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-socials ul {
    list-style-type: none;
}
.footer-socials a {
    font-family: Nunito, Arial, sans-serif;
    text-decoration: none;
    transition: 0.3s;
    color: #1F2933;
    padding: 40px;
    font-size: 1em;
    letter-spacing: 3px;
}
.footer-socials a:hover {
    color: #D9C7A3;
}
